/* ===== Banner ===== */
.blog-header{
  padding-top: 70px;
}
.blog-header h2 {
  font-size: 36px;
  font-weight: bold;
  color: #0a2b5e;
  margin-bottom: 10px;
  text-align: center;
}

.blog-line {
  width: 80px;
  height: 4px;
  background: var(--red);
  margin: 0 auto 20px;
}

.blog-header p {
  font-size: 18px;
  color: #666;
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
}
/* ===== Blog Section ===== *//* SECTION */
.nb-section {
  padding: 50px 0px;
}

/* GRID CONTAINER */
.nb-container {
  width: 92%;
  max-width: 1250px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 35px;
}

/* CARD */
.nb-card {
  background: #fff;
  border-radius: 18px;
  overflow: hidden;
  padding-bottom: 35px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  transition: all 0.25s ease;
}

.nb-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.12);
}

/* IMAGE */
.nb-image {
  width: 100%;
  height: 240px;
  object-fit: cover;
}

/* DATE + CATEGORY */
.nb-meta {
  display: flex;
  align-items: center;
  gap: 7px;
  padding: 20px 22px 0 22px;
  color: #6b7280;
  font-size: 15px;
}

.nb-dot {
  font-weight: 700;
}

/* TITLE */
.nb-title {
  padding: 10px 22px;
  font-size: 22px;
  font-weight: 700;
  color: #111827;
  line-height: 1.4;
}

/* DESCRIPTION */
.nb-desc {
  padding: 0 22px;
  font-size: 16px;
  color: #4b5563;
  margin-bottom: 20px;
  line-height: 1.6;
}

/* READ MORE BUTTON */
.nb-read-btn {
  margin-left: 22px;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  font-size: 16px;
  color: #e63946;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s ease;
}

.nb-read-btn:hover .nb-arrow {
  transform: translateX(5px);
}

.nb-arrow {
  transition: 0.3s ease;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .nb-container {
    grid-template-columns: 1fr;
  }
}
