/* ============================service ========================= */

.services-section {
  padding: 80px 0;
  background: var(--blue);
}

.services-container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

/* Header */
.services-header {
  text-align: center;
  margin-bottom: 60px;
}

.services-header h2 {
  font-size: 36px;
  font-weight: bold;
}
.ser-head{
    color: #ffff !important;
}
.services-line {
  width: 80px;
  height: 4px;
  background: #e60000;
  margin: 10px auto 20px;
}

.services-header p {
  font-size: 18px;
  max-width: 600px;
  margin: auto;
  line-height: 1.6;
}
.ser-para{
    color: #dedede !important;
}

/* Grid */
.services-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 18px;
}

@media (min-width: 768px) {
  .services-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .services-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Cards */
.service-card {
  background: #ffffff;
  padding: 30px;
  border-radius: 16px;
  border-top: 4px solid transparent;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  transition: 0.3s;
}

.service-card:hover {
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.12);
  border-color: #e60000;
}

/* Icons */
.service-icon-wrapper {
  width: 70px;
  height: 70px;
  background: #dbeafe;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  transition: 0.3s;
}

.service-card:hover .service-icon-wrapper {
  background: #ffe5e5;
}

.service-icon {
  width: 32px;
  height: 32px;
  color: var(--blue);
  transition: 0.3s;
}

.service-card:hover .service-icon {
  color: #e60000;
}

/* Text */
.service-card h3 {
  font-size: 22px;
  font-weight: bold;
  color: #0a1e60;
  margin-bottom: 12px;
}

.service-card p {
  font-size: 16px;
  color: #666;
  line-height: 1.6;
}
